/target
/target/*
/.project
/.classpath
/.settings
/.settings/*
/.cache
/.idea*
/src/main/webapp/WEB-INF/lib
/src/main/webapp/WEB-INF/lib/*
/src/main/webapp/WEB-INF/classes.timestamp
/src/main/webapp/WEB-INF/classes
/src/main/webapp/WEB-INF/classes/*
/project/target
/project/project/target
